.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}
h2{
    font-weight: 700;
}

p{
    font-weight: 400;
    color:hsl(220, 15%, 55%);
}
